<!--content-->
<main class="flex-shrink-0">

    <section class="py-2 text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Read more <span class="text-body-secondary">about our events.</span></h1>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="mx-auto col-10" id="events-posts-container">
            <!-- Content here -->
        </div>
    </div>
</main>



