<!--content-->
<main class="flex-shrink-0">

    <section class="py-2 text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Explore our <span class="text-body-secondary">Gallery</span></h1>
                <p class="lead text-body-secondary">Immerse yourself in the captured moments of our past events and activities. From community gatherings to special occasions, our gallery showcases the vibrant spirit of Harmony Hub.</p>
            </div>
        </div>
    </section>

    <div class="py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="gallery-container">
                <!-- Gallery images will be loaded here -->
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="lightboxModal" tabindex="-1" aria-labelledby="lightboxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" class="img-fluid" id="lightboxImage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

