<!--content-->
<main class="flex-shrink-0">
    <section class="py-2 text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Read our <span class="text-body-secondary">featured articles.</span></h1>
                <input type="text" class="form-control" id="search-input" placeholder="Search...">
                <button class="btn btn-primary" id="search-button">Search</button>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="mx-auto col-10" id="blog-posts-container">
            <!-- Content here -->
        </div>
    </div>
</main>


