
<!--content-->
<main class="flex-shrink-0">

    <section class="py-2 text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Browse our <span class="text-body-secondary">portfolios.</span></h1>
                <p class="lead text-body-secondary">Our dynamic offerings cater to a multitude of interests and needs,
                    fostering a sense of unity and inclusivity from educational programs and cultural workshops to
                    fitness classes and recreational events. They are thoughtfully designed to engage and
                    inspire.</p>

            </div>
        </div>
    </section>

    <div class="py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="projects-container">
                <!-- Projects will be loaded here -->
                <% projects.forEach(project => { %>
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <img src="<%= project.image %>" class="card-img-top" alt="<%= project.title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= project.title %></h5>
                                <p class="card-text"><%= project.description %></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="col-2 my-4 mx-auto">
                <p><a class="btn btn-primary" id="projects-load-more-btn">Load More</a></p>
            </div>

        </div>
    </div>
</main>

